@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
    color: #16255C;
    background-color: #F7F8FF;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #F7F8FF;
  }
}
